<div class="container" [ngSwitch]="showMode">
  <ng-container *ngSwitchCase="'component'">
    <p-table [value]="(receipt?.products | async)!">
      <ng-template pTemplate="header">
        <tr>
          <th>Назва</th>
          <th>Кiлькiсть</th>
          <th>Скидка</th>
          <th>Сума</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.discountSum }}</td>
          <td>{{ product.amount * product.price - product.discountSum }}</td>
          <td><i class="pi pi-edit"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-container *ngSwitchCase="'print'">
    <div id="print-section" #forPrint>

      <p *ngFor="let str of printContent | async">
        {{ str | pt }}
      </p>
    </div>
    <button (click)="print(forPrint)">print</button>
  </ng-container>
</div>
