$font-color: #444;

$control-bg-color: #89a2d0;
$control-color: white;
$warning-color: #e04d4d;

$maincolor: #89a2d0;
$secondcolor: #798fb8;
$color1: #607292;
$color2: #01a9ac;
$color3: #ff5e71;
$color4: #e0e6f1;
