$font-color: #222;

$control-bg-color: #89a2d0;
$control-color: white;
$warning-color: #e04d4d;

$maincolor: #4e8aff;
$secondcolor: #0078d7;
$color1: #607292;
$color2: #4e8aff;
$color3: #ff5e71;
$color4: #e0e6f1;

$blue1: #4e8aff;
$blue2: #0078d7;
$red1: #ff5d71;
$red2: #de5061;
$gray1: #272b34;
$gray2: #3e424c;
$gray3: #4e535f;
$gray4: #e5ebf5;
$green1: #05b515;
