/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import "./mixins";

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
  margin-right: 0;
}
.pi-chevron-right:before {
  content: "\e901";
  position: absolute;
  right: 10px;
  font-size: 12px;
  top: 20px;
}
.pi-chevron-down:before {
  content: "\e902";
  position: absolute;
  right: 10px;
  font-size: 12px;
  top: 20px;
}
.p-panelmenu .p-panelmenu-panel {
  margin-bottom: 0;
  border-bottom: 1px solid #2d3749;
}
.p-panelmenu .p-panelmenu-content {
  border-radius: 0px;
  border: none;
  margin: 0;
}
.p-panelmenu .p-panelmenu-header.p-highlight > a {
  background: #89a2d0;
  font-weight: 500;
  border-color: #89a2d0;
  color: #ffffff;
  border-radius: 0;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  background: #607292;
  &:not(.p-disabled):hover {
    background-color: #45546d;
    .p-menuitem-text {
      color: #fff;
    }
  }
  .p-menuitem-text {
    color: #fff;
  }
}

.p-panelmenu .p-panelmenu-header {
  &.p-highlight:not(.p-disabled) > a:hover {
    background-color: #89a2d0;
    color: #ffffff;
  }
  & > a {
    border: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    background: #607292;
    min-height: 50px;
    &:active {
      background-color: #45546d;
    }
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
    &.p-menuitem-link-active {
      background-color: transparent;
      border-color: none;
      font-weight: 500;
      color: #ffffff;
      &::after {
        content: "";
        display: block;
        width: 5px;
        background: #89a2d0;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:hover {
        background-color: transparent;
        border-color: none;
        color: #fff;
      }
    }
  }
  &:not(.p-highlight):not(.p-disabled) > a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
  }
}

.p-component.p-button {
  background-color: #01a9ac;
  border-color: #01a9ac;
  color: #fff;
  border-radius: 0;
  &.rounded {
    border-radius: 3px;
  }
  &.outline {
    background-color: white;
    border-color: #01a9ac;
    color: #016d6f;
    &:hover {
      color: white;
      transition: all ease-in 0.3s;
    }
  }
  &:hover {
    background-color: #01dbdf;
    border-color: #01dbdf;
    transition: all ease-in 0.3s;
  }
}

.p-inputtext:enabled {
  &:hover,
  &:focus {
    box-shadow: none;
    border: 1px solid #a6a6a6;
  }
}

.p-button:enabled:hover {
  background: #016d6f;
  color: #ffffff;
  border-color: #016d6f;
  outline: none;
  box-shadow: none;
}

.userbtn button {
  text-align: left;
  height: 50px;
  font-family: "Roboto";
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.logOutBtn button {
  text-align: left;
  height: 37px;
  font-family: "Roboto";
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

@media screen and (max-height: 400px) {
  .loginpage {
    padding: 10px 20px;
    font-size: 12px;
    .p-inputtext {
      padding: 4px;
      font-size: 12px;
    }
    .p-field {
      margin-bottom: 10px !important;
    }
    .pi-chevron-down:before {
      top: 5px;
    }
  }
}
