/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import "./mixins";

@media (max-width: 800px) {
  :root {
    --coef: 1.15;
  }
  body,
  .p-button {
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  :root {
    --coef: 0.9;
  }
  body,
  .p-button {
    font-size: 16px;
  }
}

// @media (-webkit-min-device-pixel-ratio: 1.1),
//   (-o-mim-device-pixel-ratio: 1.1),
//   (min--moz-device-pixel-ratio: 1.1),
//   (min-device-pixel-ratio: 1.1) {

//     :root{
//       --coef: 0.9;
//     }

//   }

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
  margin-right: 0;
}
.pi-chevron-right:before {
  content: "\e901";
  position: absolute;
  right: calc(10px / var(--coef));
  font-size: calc(12px / var(--coef));
  top: calc(20px / var(--coef));
}
.pi-chevron-down:before {
  content: "\e902";
  position: absolute;
  right: calc(10px / var(--coef));
  font-size: calc(12px / var(--coef));
  top: calc(13px / var(--coef));
}
.p-panelmenu .p-panelmenu-panel {
  margin-bottom: 0;
  border-bottom: calc(1px / var(--coef)) solid #2d3749;
}
.p-panelmenu .p-panelmenu-content {
  border-radius: calc(0px / var(--coef));
  border: none;
  margin: 0;
}
.p-panelmenu .p-panelmenu-header.p-highlight > a {
  background: #89a2d0;
  font-weight: 500;
  border-color: #89a2d0;
  color: #ffffff;
  border-radius: 0;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  background: #607292;
  &:not(.p-disabled):hover {
    background-color: #45546d;
    .p-menuitem-text {
      color: #fff;
    }
  }
  .p-menuitem-text {
    color: #fff;
  }
}

.p-panelmenu .p-panelmenu-header {
  &.p-highlight:not(.p-disabled) > a:hover {
    background-color: #89a2d0;
    color: #ffffff;
  }
  & > a {
    border: none;
    color: #ffffff;
    font-size: calc(13px / var(--coef));
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    background: #607292;
    min-height: calc(50px / var(--coef));
    &:active {
      background-color: #45546d;
    }
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
    &.p-menuitem-link-active {
      background-color: transparent;
      border-color: none;
      font-weight: 500;
      color: #ffffff;
      &::after {
        content: "";
        display: block;
        width: calc(5px / var(--coef));
        background: #89a2d0;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:hover {
        background-color: transparent;
        border-color: none;
        color: #fff;
      }
    }
  }
  &:not(.p-highlight):not(.p-disabled) > a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
  }
}

.p-component.p-button {
  background-color: $blue1;
  border-color: $blue2;
  color: #fff;
  border-radius: 0;
  &.rounded {
    border-radius: calc(3px / var(--coef));
  }
  &.outline {
    background-color: white;
    border-color: $blue2;
    color: $blue1;
    &:hover {
      color: white;
      transition: all ease-in 0.3s;
    }
  }
  &:hover {
    background-color: $blue2;
    border-color: $blue2;
    transition: all ease-in 0.3s;
  }
}

.p-inputtext:enabled {
  &:hover,
  &:focus {
    box-shadow: none;
    border: calc(1px / var(--coef)) solid #a6a6a6;
  }
}

.p-button:enabled:hover {
  background: $blue1;
  color: #ffffff;
  border-color: $blue2;
  outline: none;
  box-shadow: none;
}

.userbtn button {
  text-align: left;
  height: calc(50px / var(--coef));
  font-family: "Roboto";
  font-size: calc(14px / var(--coef));
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.logOutBtn button {
  text-align: left;
  height: calc(37px / var(--coef));
  font-family: "Roboto";
  font-size: calc(14px / var(--coef));
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

@media screen and (max-height: 400px) {
  .loginpage {
    padding: calc(10px / var(--coef)) calc(20px / var(--coef));
    font-size: calc(12px / var(--coef));
    .p-inputtext {
      padding: calc(4px / var(--coef));
      font-size: calc(12px / var(--coef));
    }
    .p-field {
      margin-bottom: calc(10px / var(--coef)) !important;
    }
    .pi-chevron-down:before {
      top: calc(5px / var(--coef));
    }
  }
}

.saletable td,
.saletable th {
  font-size: calc(14px / var(--coef));
}

.toMail {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  input {
    width: calc(100% - calc(124px / var(--coef)));
  }
  button {
    width: calc(50px / var(--coef));
    height: calc(37px / var(--coef));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: calc(12px / var(--coef));
    background-color: #89a2d0;
    border: none;
    outline: none;
    border-radius: calc(3px / var(--coef));
    i {
      margin-right: calc(5px / var(--coef));
    }
  }
}

.receiptsTable td,
.receiptsTable th {
  font-size: calc(14px / var(--coef));
}
.receiptsTable > tbody {
  max-height: calc(100vh - calc(180px / var(--coef)));
  .recieptTBody {
    td {
      border-width: 0;
      border-bottom: calc(1px / var(--coef)) solid #d2d7e1;
      padding: calc(5px / var(--coef)) calc(10px / var(--coef));
    }
  }
}
.receiptTitleLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(50px / var(--coef));
  background: $gray4;
  color: #444;
  padding: calc(10px / var(--coef));

  .calendar > i {
    color: #322;
    font-size: calc(15px / var(--coef));
  }

  .calendar > span {
    padding: 0 calc(7px / var(--coef));
    font-size: calc(15px / var(--coef));
    color: #322;
  }
}

.receiptBtn {
  background: $blue1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(50px / var(--coef));
  padding: calc(0px / var(--coef)) calc(8px / var(--coef));
  background: #4e8aff;
  color: #fff;
  border: none;
  text-decoration: none;
  font-size: calc(17px / var(--coef));
  border-radius: calc(4px / var(--coef));
  margin-right: calc(4px / var(--coef));
  &:active {
    background: $blue2;
  }
  i {
    margin-right: calc(5px / var(--coef));
  }
}

.confirm_buttons {
  padding: calc(20px / var(--coef)) 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  .p-component.p-button {
    border-radius: 0;
  }
  button {
    margin: 0 calc(5px / var(--coef));
  }
}
.p-button-warning {
  .p-component.p-button {
    background-color: $red1;
    border-color: $red2;
    border-radius: 0;
  }
}
.receiptProducts_amount .p-button.p-component {
  height: calc(32px / var(--coef));
  width: calc(32px / var(--coef));
  border-radius: calc(4px / var(--coef));
  margin: 0 calc(7px / var(--coef));
}
.confirm_input input {
  width: 100%;
  padding: calc(8px / var(--coef));
}

/*--------------........................ ------------*/

.header {
  height: calc(50px / var(--coef));
  width: 100%;
  display: flex;
  background-color: $gray2;
  justify-content: space-between;
  .topmenu {
    .p-element.p-button {
      height: calc(50px / var(--coef));
      width: calc(100px / var(--coef));
      border: none;
      background-color: $gray1;
    }
    .p-slidemenu {
      padding: 0;
      border: none;
      box-shadow: 0 calc(5px / var(--coef)) calc(10px / var(--coef))
        rgb(0 0 0 / 20%);
      border-radius: 0;
    }
    .p-slidemenu-wrapper {
      width: 100% !important;
      ul.p-slidemenu-rootlist,
      .p-submenu-list {
        width: 100% !important;
        li.p-element.p-menuitem {
          border-bottom: calc(1px / var(--coef)) solid $color4;
        }
      }
    }
    a.p-slidemenu-backward {
      background-color: $color4;
    }
  }
  .topusermenu {
    .p-slidemenu {
      padding: 0;
      border: none;
      box-shadow: 0 calc(5px / var(--coef)) calc(10px / var(--coef))
        rgb(0 0 0 / 20%);
      border-radius: 0;
      width: calc(150px / var(--coef));
    }
    .p-element.p-button {
      height: calc(50px / var(--coef));
      width: calc(100px / var(--coef));
      border: none;
      background-color: $gray1;
      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
      }
    }
    .p-slidemenu-wrapper {
      width: calc(150px / var(--coef)) !important;
      ul.p-slidemenu-rootlist,
      .p-submenu-list {
        width: 100% !important;
        li.p-element.p-menuitem {
          border-bottom: calc(1px / var(--coef)) solid $color4;
        }
      }
    }
  }
  .topcenter {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .toptitle {
    flex: 1;
    display: flex;
    font-size: calc(18px / var(--coef));
    color: $font-color;
    align-items: center;
    padding: 0 calc(20px / var(--coef));
    background-color: $gray4;
  }
  .topinfo {
    padding: 0 calc(20px / var(--coef));
    flex: 1;
    display: flex;
    color: #fff;
    font-size: calc(18px / var(--coef));
    height: 100%;
    align-items: center;
    background-color: $gray3;
  }
  .topicons {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: calc(100px / var(--coef));
    justify-content: space-evenly;
    align-items: center;
    background-color: $gray3;
    #online_icon,
    #offline_icon,
    #opencashbox_icon,
    #closecashbox_icon {
      display: block;
      background-image: url("../images/sprite_icons.png");
      background-repeat: no-repeat;
      width: calc(25px / var(--coef));
      height: calc(25px / var(--coef));
    }
    #online_icon {
      background-position: -14px -48px;
    }
    #offline_icon {
      background-position: -14px -12px;
    }
    #opencashbox_icon {
      background-position: -51px -48px;
    }
    #closecashbox_icon {
      background-position: -49px -12px;
    }
  }
}
.maincontent {
  width: 100vw;
  height: calc(100vh - calc(50px / var(--coef)));
  overflow: auto;
}

.topSearch {
  position: relative;
  .searchline {
    position: relative;
    z-index: 10;
  }
  .invis_bg {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - calc(50px / var(--coef)));
    z-index: 2;
  }
  .datasearch {
    position: absolute;
    top: calc(49px / var(--coef));
    background-color: white;
    max-height: calc(200px / var(--coef));
    display: block;
    width: 100%;
    z-index: 10;
    box-shadow: 0 calc(12px / var(--coef)) calc(9px / var(--coef))
      rgb(0 0 0 / 20%);
    border-radius: 0 0 calc(10px / var(--coef)) calc(10px / var(--coef));
    overflow: auto;
    padding-bottom: calc(20px / var(--coef));
    margin-bottom: calc(20px / var(--coef));
    .datasearch_tr {
      font-size: calc(18px / var(--coef));
      display: flex;
      flex-wrap: wrap;
      border-top: calc(1px / var(--coef)) solid $color4;
      min-height: calc(50px / var(--coef));
      align-items: center;
      div {
        padding: 0 calc(10px / var(--coef));
      }
      button.p-component.p-button {
        border-radius: calc(5px / var(--coef));
      }
    }
  }
  span.searchIcon {
    display: block;
    width: calc(50px / var(--coef));
    height: calc(50px / var(--coef));
    position: absolute;
    left: 0;
    background-image: url("../images/sprite_icons.png");
    background-position: -143px -2px;
    background-repeat: no-repeat;
    z-index: 1;
  }
  input {
    width: 100%;
    height: calc(50px / var(--coef));
    background: #ffffff;
    font-size: calc(20px / var(--coef));
    border: none;
    padding: 0 0 0 calc(60px / var(--coef));
    position: relative;
    border-bottom: calc(1px / var(--coef)) solid;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

$titleHeight: calc(51px / var(--coef));
$saleSearchHeight: calc(55px / var(--coef));

$tdNameWidth: auto;
$tdCodeWidth: calc(110px / var(--coef));
$tdPriceWidth: calc(110px / var(--coef));
$tdAddBtnWidth: calc(60px / var(--coef));

$sendEmailBlock: calc(53px / var(--coef));
$btns: calc(37px / var(--coef));

.receiptProducts {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: calc(20px / var(--coef));

  .prod_list .receiptProducts_line:first-child {
    margin-top: calc(34px / var(--coef));
  }
  .receiptProducts_line {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: calc(2px / var(--coef)) solid $gray4;
    padding: 0;
    min-height: calc(74px / var(--coef));
    width: 100%;

    &:first-child {
      background-color: red;
    }
    &:nth-child(even) {
      background-color: #fff;
    }
    &:nth-child(odd) {
      background-color: #f4f6fb;
    }
    &:last-child {
      border-bottom: none;
    }
    div {
      padding: calc(3px / var(--coef));
    }

    .receiptProducts_amount {
      flex-direction: row;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      width: calc(80px / var(--coef));
      input {
        padding: calc(4px / var(--coef));
        width: calc(50px / var(--coef));
      }
    }
    .receiptProducts_discountSum {
      width: calc(90px / var(--coef));
      text-align: center;
    }

    .receiptProducts_dropFromReceiptBtn {
      flex: 1;
      max-width: 15%;
      overflow: hidden;
    }

    .receiptProducts_dropFromReceiptBtn {
      justify-content: end;
      display: flex;
      button {
        border: none;
        height: calc(32px / var(--coef));
        width: calc(32px / var(--coef));
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #fff;
        background-color: #89a2d0;
      }
    }
    .receiptProducts_addtbn {
      width: calc(60px / var(--coef));
      background-color: $blue1;
      height: calc(60px / var(--coef));
      background-image: url("../images/calc.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    .receiptProducts_name {
      flex: 1;
      padding-left: calc(15px / var(--coef));
      word-break: break-all;
      text-overflow: ellipsis;
    }

    .receiptProducts_sum {
      width: calc(160px / var(--coef));
      overflow: hidden;
      text-align: right;
      flex-direction: column;
      padding-right: calc(20px / var(--coef));
      .s {
        font-size: calc(22px / var(--coef));
        font-weight: 600;
      }
      .d {
        font-size: calc(14px / var(--coef));
        color: red;
      }
      .succ {
        font-size: calc(14px / var(--coef));
        color: rgb(26, 183, 19);
      }
    }
  }
}

#pData {
  display: none;
  #printData {
    font-family: "Droid Sans Mono", Arial, Helvetica, sans-serif;
    width: 32pt;
  }
}

.datasale {
  height: calc(100vh - calc(100px / var(--coef)));
  width: 100%;
  display: flex;
  flex-direction: row;

  .sale_table {
    width: calc(100vw - calc(100px / var(--coef)));
    overflow: auto;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: $gray4;
    .sale_table-header {
      position: fixed;
      display: flex;
      width: calc(100% - calc(100px / var(--coef)));
      height: calc(32px / var(--coef));
      align-items: center;
      font-size: calc(14px / var(--coef));
      flex-direction: row;
      border-bottom: calc(2px / var(--coef)) solid $gray4;
      background-color: #fff;
      ._name {
        flex: 1;
        text-align: center;
      }
      ._amount {
        width: calc(80px / var(--coef));
        text-align: center;
      }
      ._discountSum {
        width: calc(90px / var(--coef));
        text-align: center;
      }
      ._sum {
        width: calc(160px / var(--coef));
        text-align: right;
        padding-right: calc(20px / var(--coef));
      }
    }

    .sale_table-footer {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: calc(50px / var(--coef));
      align-items: center;
      padding: 0 calc(20px / var(--coef));
      justify-content: space-between;
      background-color: $gray1;
      font-size: calc(20px / var(--coef));
      position: fixed;
      bottom: 0;
      span {
        display: flex;
        height: calc(50px / var(--coef));
        align-items: center;
        font-size: calc(20px / var(--coef));
        color: #fff;
        i {
          font-weight: 600;
          font-style: normal;
          margin: 0 calc(8px / var(--coef));
          font-size: calc(24px / var(--coef));
        }
      }
    }
  }
  .sale_buttons {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: calc(100px / var(--coef));
    justify-content: space-between;
    background-color: #fff;
    .anulation_btn {
      // height: calc(100px / var(--coef));
      height: calc(80px / var(--coef));
      width: 100%;
      background: #ff5e71;
      display: flex;
      color: #fff;
      justify-content: center;
      align-items: center;
      font-size: calc(18px / var(--coef));
      letter-spacing: calc(0.4px / var(--coef));
      border: none;
      span {
        background-size: auto;
        width: calc(80px / var(--coef));
        height: calc(80px / var(--coef));

        background-repeat: no-repeat;
        background-image: url("../images/close.svg");
        background-position: center;
      }
    }
    ._btn {
      // height: calc(100px / var(--coef));
      height: calc(80px / var(--coef));
      // height: 5rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: $blue1;
      border-top: calc(1px / var(--coef)) solid #fff;
      border-left: none;
      border-bottom: none;
      border-right: none;
      span {
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        width: calc(80px / var(--coef));
        height: calc(80px / var(--coef));
        &.nal {
          background-image: url("../images/nal.svg");
        }
        &.credicart {
          background-image: url("../images/creditcart.svg");
        }
        &.add {
          background-image: url("../images/cart.svg");
        }
        &.nocheck {
          background-image: url("../images/nocheck.svg");
        }
        &.returnal {
          background-image: url("../images/return.svg");
        }
      }
    }
  }
}

.product_inSearch {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding-right: calc(20px / var(--coef));
  height: calc(60px / var(--coef));
  align-items: center;
  span.inSearch_input {
    display: flex;
    flex: 1;
    background: $gray1;
    height: calc(60px / var(--coef));
    color: #fff;
    align-items: center;
    font-size: calc(36px / var(--coef));
    font-weight: bold;
    padding: calc(10px / var(--coef));
    width: calc(100% - calc(100px / var(--coef)));
  }
  button {
    width: calc(90px / var(--coef));
    height: calc(60px / var(--coef));
    border: none;
    background-color: $red1;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/times.svg");
    &:active {
      background-color: $red2;
    }
  }
}

.datasearch {
  display: flex;
  // width: 100%;
  padding-right: 10px;
  flex-direction: column;
  height: calc(100% - calc(100px / var(--coef)));
  overflow: auto;
  margin-top: 10px;
  .datasearch_tr {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: calc(20px / var(--coef));
    margin: 2px 0px;
    background: #fff;
    & > div {
      flex: 1;
      padding: calc(10px / var(--coef));
    }

    .article {
      font-weight: bold;
    }
    .prodname {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name {
        flex: 1;
      }
      .price {
        min-width: calc(110px / var(--coef));
        font-weight: bold;
        text-align: right;
        padding-right: calc(20px / var(--coef));
      }
    }
    button.prodlistadd {
      display: flex;
      width: calc(90px / var(--coef));
      height: calc(90px / var(--coef));
      background: $blue1;
      border: none;
      background-image: url("../images/cart.svg");
      background-position: center;
      background-repeat: no-repeat;
      &:active {
        background-color: $blue2;
      }
    }
  }
}

.main-menu {
  position: absolute;
  width: 100%;
  height: calc(100% - calc(50px / var(--coef)));
  top: calc(50px / var(--coef));
  left: 0;
  background: #1a1b1ff2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 9999;
  .menubtnbox {
    width: 100%;
    height: 100%;
    max-width: 80vw;
    max-height: 80vh;
    display: block;
    position: relative;
    box-sizing: border-box;
    & > div {
      background: $blue1;
      width: 18.5vw;
      height: 18.5vw;
      float: left;
      display: flex;
      margin-right: calc(10px / var(--coef));
      margin-bottom: calc(10px / var(--coef));
      justify-content: center;
      align-items: center;
      color: #fff;
      flex-direction: column;
      font-size: 2vw;
      &:active {
        background: $blue2;
      }
    }
    .menu_back {
      background: $blue2;
    }

    .menuicon,
    .back_ico {
      width: 9vw;
      height: 9vw;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-bottom: calc(10px / var(--coef));
    }
    .back_ico {
      opacity: 0.5;
      width: 5vw;
      background-image: url("../images/icons/m_back.svg");
    }
    .m_admin {
      background-image: url("../images/icons/m_admin.svg");
    }
    .m_sale {
      background-image: url("../images/icons/m_sale.svg");
    }
    .m_report {
      background-image: url("../images/icons/m_report.svg");
    }
    .m_service {
      background-image: url("../images/icons/m_service.svg");
    }
    .m_check {
      background-image: url("../images/icons/m_check.svg");
    }
    .m_incash {
      background-image: url("../images/icons/m_cach-in.svg");
    }
    .m_outcash {
      background-image: url("../images/icons/m_cash-out.svg");
    }
    .m_x-report {
      background-image: url("../images/icons/m_x-report.svg");
    }
    .m_z-report {
      background-image: url("../images/icons/m_z-report.svg");
    }
    .m_z-list {
      background-image: url("../images/icons/m_z-list.svg");
    }
    .m_import {
      background-image: url("../images/icons/m_import.svg");
    }
    .m_print {
      background-image: url("../images/icons/m_print.svg");
    }
  }
}

.keyboarddialog {
  position: fixed;
  top: 0;
  height: calc(100% - calc(50px / var(--coef)));
  bottom: calc(52px / var(--coef));
  left: 0;
  background: $gray4;
  padding: 0;
  right: 0;
  width: 100%;
}
.keyboard_header {
  height: calc(50px / var(--coef));
  width: 100%;
  background: $gray1;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: calc(15px / var(--coef));
  font-size: calc(20px / var(--coef));
  button {
    display: flex;
    height: calc(30px / var(--coef));
    width: calc(30px / var(--coef));
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../images/times.svg");
  }
}
.keyboard_contain {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - calc(50px / var(--coef)));
  padding: calc(15px / var(--coef));
  .content {
    flex: 4;
  }
  .keyblock {
    flex: 3;
  }
}

.keyboardmodal {
  background: $gray1;
  position: fixed;
  bottom: calc(50px / var(--coef));
  height: 40vh;
  // height: 50vh;
  width: 100%;
  min-height: calc(190px / var(--coef));
  // min-height: calc(220px / var(--coef));
  left: 0;
  .keyboard_header {
    height: calc(50px / var(--coef));
    width: calc(50px / var(--coef));
    background: $gray1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: calc(15px / var(--coef));
    font-size: calc(20px / var(--coef));
    margin-top: calc(-50px / var(--coef));
    position: absolute;
    right: 0;
  }
  .keyboard_contain {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: calc(4px / var(--coef));
  }
}

.keyboard_btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 10px;
  height: 100%;
  button {
    width: 100%;
    height: 100%;
    min-width: calc(50px / var(--coef));
    min-height: calc(50px / var(--coef));
    background-color: $blue1;
    border: none;
    font-size: 11vh;
    font-weight: 600;
    color: #fff;

    &:active {
      background-color: $blue2;
    }

    &.backspace {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        width: 5vw;
        height: 5vw;
        background-size: contain;
        background-image: url("../images/backspace.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.keyboard_wraper {
  width: 100%;
  height: 50vh;
  background-color: $gray1;
}

.literal_keyboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: calc(4px / var(--coef));
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.num_keyboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-column-gap: calc(4px / var(--coef));
  grid-row-gap: calc(4px / var(--coef));
  height: 100%;
  width: 100%;
}

.literal_keyboard,
.num_keyboard {
  .key {
    color: white;
    font-size: 5vh;
    background-color: $blue1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &.backspace,
    &.space,
    &.enter,
    &.numToLang {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 5vh;
    }
    &.backspace {
      background-image: url("../images/backspace.svg");
    }
    &.enter {
      background-image: url("../images/enter.svg");
    }

    &:active {
      background-color: $blue2;
    }

    &.enter {
      grid-column: span 2;
    }
    &.numToLang {
      background-image: url("../images/globe.svg");
    }
  }
}
.literal_keyboard {
  .key {
    &.space {
      grid-column: span 4;
    }
  }
}
.num_keyboard {
  .key {
    &.space {
      grid-column: span 5;
    }
  }
}
.amount_line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(80px / var(--coef));
  width: 100%;
  padding-right: 10px;
  button {
    height: calc(80px / var(--coef));
    width: calc(80px / var(--coef));
    border: none;
    margin-right: calc(1px / var(--coef));
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    &.cancel {
      background-image: url("../images/times.svg");
      background-color: $red1;
    }
    &.minus {
      background-image: url("../images/minus.svg");
      background-color: $blue1;
    }
    &.plus {
      background-color: $blue1;
      background-image: url("../images/plus.svg");
    }
    &.apply {
      background-image: url("../images/check.svg");
      background-color: $green1;
    }
  }
  div.val {
    background-color: #272b34;
    flex: 1;
    height: calc(80px / var(--coef));
    color: #fff;
    font-size: calc(48px / var(--coef));
    font-weight: bold;
    max-width: calc(222px / var(--coef));
    overflow: hidden;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.amount_card {
  font-size: calc(22px / var(--coef));
  padding: calc(20px / var(--coef));
  display: flex;
  background: #fff;
  flex-direction: column;
  width: 100%;
  .art {
    font-size: calc(20px / var(--coef));
    border-bottom: calc(2px / var(--coef)) solid;
    padding: 0 0 calc(10px / var(--coef)) 0;
    margin-bottom: calc(10px / var(--coef));
    line-height: 1;
  }
  .name {
    font-weight: bold;
    margin-bottom: calc(10px / var(--coef));
    line-height: 1;
  }
  .price {
    display: flex;
    justify-content: space-between;
    font-size: calc(20px / var(--coef));
    padding: calc(10px / var(--coef)) 0;
    margin-bottom: calc(10px / var(--coef));
    border-bottom: calc(2px / var(--coef)) solid;
    line-height: 1;
    & span:last-child {
      font-weight: bold;
      font-size: calc(24px / var(--coef));
    }
  }
  .sum {
    display: flex;
    justify-content: space-between;
    font-size: calc(22px / var(--coef));
    padding: calc(10px / var(--coef)) 0;
    margin-bottom: calc(10px / var(--coef));
    border-bottom: 2px solid;
    line-height: 1;
    & span:last-child {
      font-weight: bold;
      font-size: calc(26px / var(--coef));
    }
  }
}

.receiptsTable {
  .recieptTHead {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: calc(14px / var(--coef));
    flex-direction: row;
    border-bottom: calc(2px / var(--coef)) solid #e5ebf5;
    background-color: #fff;
    th {
      height: calc(32px / var(--coef));
      white-space: nowrap;
      flex: 1;
      border: none;
      background-color: $gray1;
      color: #fff;
    }
  }
  tbody tr:nth-child(odd) {
    background-color: $gray4;
  }
  tr.recieptTBody {
    td {
      flex: 1;
      font-size: calc(18px / var(--coef));
      height: calc(60px / var(--coef));
      align-items: center;
    }
    &.returned {
      background: $red1 !important;
      color: #fff;
    }
  }
}

.p-datatable .p-datatable-thead > tr > th {
  border: none;
  background-color: #fff;
  font-weight: 500;
}

.p-dialog-footer {
  display: flex;
  flex-direction: row-reverse;
}

.p-confirm-dialog-reject {
  background: $red1 !important;
  border-color: $red2 !important;
}

.p-dialog .p-dialog-header {
  padding: calc(4px / var(--coef)) calc(15px / var(--coef));
}

.dropdownfile .p-dropdown.p-component {
  width: 100%;
  margin-bottom: calc(15px / var(--coef));
}
.p-fileupload-row div:first-child {
  display: none;
}
