<!-- <p-autoComplete
  [(ngModel)]="text"
  [suggestions]="(productList$ | async)!"
  (completeMethod)="search($event)"
  (onKeyUp)="keyup($event)"
  type="number"
>
  <ng-template let-product pTemplate="item">
    <div class="p-grid">
      <div class="p-col">{{ product.article }}</div>
      <div class="p-col">{{ product.name }}</div>
      <div class="p-col">{{ product.price }}</div>
    </div>
  </ng-template></p-autoComplete
> -->

<div class="searchline">
  <span class="searchIcon"></span>
  <input
    [id]="this.id"
    type="text"
    inputmode="numeric"
    (input)="onInput(inp)"
    #inp
  />
</div>

<div class="datasearch">
  <div *ngFor="let product of productList$ | async">
    <div class="datasearch_tr">
      <div class="p-col-2">{{ product.article }}</div>
      <div class="p-col-7">{{ product.name }}</div>
      <div class="p-col-2">{{ product.price }}</div>
      <div class="p-col-1">
        <p-button
          icon="pi pi-shopping-cart"
          (click)="addProductToReceipt(product)"
        >
        </p-button>
      </div>
    </div>
  </div>
</div>
