<!-- <p-autoComplete
  [(ngModel)]="text"
  [suggestions]="(productList$ | async)!"
  (completeMethod)="search($event)"
  (onKeyUp)="keyup($event)"
  type="number"
>
  <ng-template let-product pTemplate="item">
    <div class="p-grid">
      <div class="p-col">{{ product.article }}</div>
      <div class="p-col">{{ product.name }}</div>
      <div class="p-col">{{ product.price }}</div>
    </div>
  </ng-template></p-autoComplete
> -->

<div class="product_inSearch">
  <span class="inSearch_input">{{ searchValue }}</span>
  <button (click)="clearBtn()"></button>
</div>

<!-- <div class="searchline" #searchLine>
  <span class="searchIcon"></span>
  <input
    [id]="this.id"
    type="text"
    inputmode="numeric"
    (input)="onInput(inp)"
    #inp
  />
  <span>{{searchValue}}</span>
  <button (click)="clearBtn(inp)">clear</button>
</div> -->

<div class="datasearch" *ngIf="visibleResult" #searchResult>
  <div *ngFor="let product of productList$ | async">
    <div class="datasearch_tr">
      <div>
        <div class="p-grid">
          <div class="p-col-12 article">{{ product.article }}</div>
        </div>
        <div class="p-grid">
          <div class="p-col-7 name">{{ product.name }}</div>
          <div class="p-col-5 price">{{ product.price }}</div>
        </div>
      </div>
      <button
        class="prodlistadd"
        (click)="addProductToReceipt(product)"
      ></button>
    </div>
  </div>
</div>

<div class="invis_bg" *ngIf="visibleResult" (click)="bgclick()"></div>
