<div class="keyboard_contain">
  <div class="content">
    <ng-container
      *ngTemplateOutlet="
        itemTemplate!;
        context: {
          $implicit: value,
          visible: keyboardVisible,
          clearFunction: clearFunction,
          showKeyboardFuntion: showKeyboard,
          hideKeyboardFuntion: hideKeyboard
        }
      "
    >
    </ng-container>
  </div>
  <div
    class="keyboardmodal"
    *ngIf="keyboardVisible === true"
    [style]="num_keys ? 'height: 120px' : ''"
  >
    <div class="keyboard_header">
      <div></div>
      <button (click)="onClose()"></button>
    </div>
    <div class="keyboard_contain">
      <div class="literal_keyboard" *ngIf="ua_keys">
        <div class="key">й</div>
        <div class="key">ц</div>
        <div class="key">у</div>
        <div class="key">к</div>
        <div class="key">е</div>
        <div class="key">н</div>
        <div class="key">г</div>
        <div class="key">ш</div>
        <div class="key">щ</div>
        <div class="key">з</div>
        <div class="key">x</div>
        <div class="key">ф</div>
        <div class="key">і</div>
        <div class="key">в</div>
        <div class="key">а</div>
        <div class="key">п</div>
        <div class="key">р</div>
        <div class="key">о</div>
        <div class="key">л</div>
        <div class="key">д</div>
        <div class="key">ж</div>
        <div class="key">є</div>
        <div class="key">я</div>
        <div class="key">ч</div>
        <div class="key">с</div>
        <div class="key">м</div>
        <div class="key">и</div>
        <div class="key">т</div>
        <div class="key">ь</div>
        <div class="key">б</div>
        <div class="key">ю</div>
        <div class="key">ї</div>
        <div class="key backspace"></div>
        <div class="key">'</div>
        <div class="key" (click)="togleLang('ru')">RU</div>
        <div class="key" (click)="togleLang('num')">123</div>
        <div class="key space"></div>
        <div class="key">,</div>
        <div class="key">.</div>
        <div class="key enter"></div>
      </div>
      <div class="literal_keyboard" *ngIf="ru_keys">
        <div class="key">й</div>
        <div class="key">ц</div>
        <div class="key">у</div>
        <div class="key">к</div>
        <div class="key">е</div>
        <div class="key">н</div>
        <div class="key">г</div>
        <div class="key">ш</div>
        <div class="key">щ</div>
        <div class="key">з</div>
        <div class="key">x</div>
        <div class="key">ф</div>
        <div class="key">ы</div>
        <div class="key">в</div>
        <div class="key">а</div>
        <div class="key">п</div>
        <div class="key">р</div>
        <div class="key">о</div>
        <div class="key">л</div>
        <div class="key">д</div>
        <div class="key">ж</div>
        <div class="key">э</div>
        <div class="key">я</div>
        <div class="key">ч</div>
        <div class="key">с</div>
        <div class="key">м</div>
        <div class="key">и</div>
        <div class="key">т</div>
        <div class="key">ь</div>
        <div class="key">б</div>
        <div class="key">ю</div>
        <div class="key">/</div>
        <div class="key backspace"></div>
        <div class="key">_</div>
        <div class="key" (click)="togleLang('ua')">UA</div>
        <div class="key" (click)="togleLang('num')">123</div>
        <div class="key space"></div>
        <div class="key">,</div>
        <div class="key">.</div>
        <div class="key enter"></div>
      </div>
      <div class="num_keyboard" *ngIf="num_keys">
        <div class="key">1</div>
        <div class="key">2</div>
        <div class="key">3</div>
        <div class="key">4</div>
        <div class="key">5</div>
        <div class="key">6</div>
        <div class="key">7</div>
        <div class="key">8</div>
        <div class="key">9</div>
        <div class="key">0</div>

        <div class="key" (click)="togleLang('ua')">UA</div>
      </div>
    </div>
  </div>
</div>
