@import "/src/styles/variables";

$titleHeight: 51px;
$saleSearchHeight: 55px;

$tdNameWidth: auto;
$tdCodeWidth: 110px;
$tdPriceWidth: 110px;
$tdAddBtnWidth: 60px;

$sendEmailBlock: 53px;
$btns: 37px;

.container {
  height: 100%;
  .title {
    height: $titleHeight;
    border-bottom: 2px solid #01a9ac;
    color: #000000;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 0 20px;
  }
  .sale {
    height: calc(100% - #{$titleHeight});
    // min-height: 400px;
    .sale-search {
      height: $saleSearchHeight;
      .p-inputgroup-addon {
        background-color: $control-bg-color;
        color: $control-color;
      }
    }
    .product-list {
      max-height: calc(100% - #{$saleSearchHeight});
      .p-col {
        height: 100%;
        padding: 0 0.5rem;
        th {
          background-color: white;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: #bbb 1px solid;
          color: $font-color;
        }
        td {
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom: #e8e8e8 1px solid;
          color: $font-color;
          padding: 5px;
        }
        .tdName {
          flex: 4;
          // width: $tdNameWidth;
          // max-width: $tdNameWidth;
          // min-width: $tdNameWidth;
        }
        .tdCode {
          flex: 1;
          // width: $tdCodeWidth;
          // max-width: $tdCodeWidth;
          // min-width: $tdCodeWidth;
        }
        .tdPrice {
          flex: 2;
          // width: $tdPriceWidth;
          // max-width: $tdPriceWidth;
          // min-width: $tdPriceWidth;
        }
        .tdAddBtn {
          flex: 1;
          // width: $tdAddBtnWidth;
          // max-width: $tdAddBtnWidth;
          // min-width: $tdAddBtnWidth;
          // padding: 0 #{$tdAddBtnWidth} - 30 0 0;

          .addBtn {
            width: 30px;
            height: 30px;
            border-radius: 30px;
            border: none;
            background-color: #89a2d0;
            color: white;
          }
        }
      }
      // overflow-y: auto;
    }
    .receipt {
      // height: calc(100% - #{$sendEmailBlock} - #{$btns} - 0.5rem);
      background: #f4f4f4;
      border-radius: 6px;
      margin-right: -2px;
      margin-top: 0.5rem;
      border: 2px dashed #89a2d0;
      .receiptTitle {
        height: 34px;
        border-bottom: #bbb 1px solid;
        span {
          color: $font-color;
        }
      }
      .receiptProducts {
        // max-height: calc(100% -34px - 34px);
        overflow-y: auto;

        > .p-grid {
          &.edit {
            .amountText {
              display: none;
            }
            .amountEdit {
              display: inline-block;
              height: 30px;
            }
            .dropFromReceiptBtn .editBtn {
              display: none;
            }
            .dropFromReceiptBtn .saveBtn {
              display: inline-block;
            }
          }
          &:not(.edit) {
            .amountText {
              display: inline;
            }
            .amountEdit {
              display: none;
            }
            .dropFromReceiptBtn .editBtn {
              display: inline-block;
            }
            .dropFromReceiptBtn .saveBtn {
              display: none;
            }
          }
          .tdReceiptProduct {
            color: $font-color;
            margin-top: auto;
            margin-bottom: auto;
            &.name {
              width: auto;
              max-width: auto;
              min-width: auto;
            }
            &.amount {
              width: 110px;
              max-width: 110px;
              min-width: 110px;
            }
            &.sum {
              width: 110px;
              max-width: 110px;
              min-width: 110px;
            }
            &.dropFromReceiptBtn {
              width: 60px;
              max-width: 60px;
              min-width: 60px;
              text-align: right;
              button {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                border: none;
                background-color: #89a2d0;
                color: white;
              }
            }
          }
        }
      }
      .total {
        height: 34px;
        border-top: #bbb 1px solid;
        span {
          color: $font-color;
        }
      }
    }
    .sendEmailBlock {
      height: 53px;
    }
    .btns {
      height: 37px;
    }
  }
}

.receiptProducts {
  display: flex;
  flex-direction: column;
  width: 100%;
  // max-height: calc(100vh - 230px);
  .receiptProducts_line {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div {
      padding: 3px;
    }
    &.edit {
      .receiptProducts_amount {
        flex: 2;
        max-width: 20%;
        overflow: hidden;
        .amountText {
          display: none;
        }
        .amountEdit {
          display: inline-flex;
          padding: 3px;
        }
      }
      .receiptProducts_dropFromReceiptBtn {
        flex: 1;
        max-width: 15%;
        overflow: hidden;
        .editBtn {
          display: none;
        }
        .saveBtn {
          display: inline-flex;
        }
      }
    }
    &:not(.edit) {
      .receiptProducts_amount {
        flex: 2;
        max-width: 20%;
        overflow: hidden;
        .amountText {
          display: inline-flex;
        }
        .amountEdit {
          display: none;
        }
      }

      .receiptProducts_dropFromReceiptBtn {
        flex: 1;
        max-width: 15%;
        overflow: hidden;
        .editBtn {
          display: inline-flex;
        }
        .saveBtn {
          display: none;
        }
      }
    }

    .receiptProducts_dropFromReceiptBtn {
      justify-content: end;
      display: flex;
      button {
        border: none;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #fff;
        background-color: #89a2d0;
      }
    }

    .receiptProducts_name {
      flex: 4;
      max-width: 40%;
      word-break: break-all;
      text-overflow: ellipsis;
    }

    .receiptProducts_sum {
      flex: 2;
      max-width: 25%;
      overflow: hidden;
    }
  }
}
