<!-- <div class="topSearch">
  <app-product-list
    id="searchTop"
    (add)="addProductToReceipt($event)"
  ></app-product-list>
</div> -->
<div class="datasale">
  <!-- Table section   -->
  <div class="sale_table">
    <div class="receiptProducts">
      <div
        class="sale_table-header"
        *ngIf="(receiptProducts | async)!.length > 0"
      >
        <div class="receiptProducts_addtbn"></div>
        <div class="_name">Назва</div>
        <div class="_amount">Кiлькiсть</div>
        <div class="_discountSum">Цiна за од.</div>
        <div class="_sum">Сума</div>
      </div>
      <div class="prod_list">
        <div
          class="receiptProducts_line"
          *ngFor="let receiptProduct of receiptProducts | async"
        >
          <div class="receiptProducts_addtbn"></div>
          <div class="receiptProducts_name">
            {{ receiptProduct.name }}
          </div>

          <div class="receiptProducts_amount">
            {{ receiptProduct.amount }}
            <!-- <p-button
            icon="pi pi-minus"
            (click)="this.amountMinus(receiptProduct)"
          ></p-button>
          <input
            type="text"
            inputmode="decimal"
            pInputText
            min="0"
            class="amountEdit w-100"
            (blur)="onBlurAmount()"
            (focus)="onFocusAmount(amountInp)"
            (input)="onInputAmount(amountInp, receiptProduct, $event)"
            [ngModel]="receiptProduct.amount"
            #amountInp
          />

          <p-button
            icon="pi pi-plus"
            (click)="this.amountPlus(receiptProduct)"
          ></p-button> -->
          </div>

          <div class="receiptProducts_discountSum">
            {{ receiptProduct.price }}
          </div>

          <div class="receiptProducts_sum">
            <div class="s">
              {{ receiptProduct.sum }}
              <ng-container *ngIf="receiptProduct.sum"></ng-container>
            </div>
            <div
              class="d"
              *ngIf="
                receiptProduct.discountSum != null &&
                receiptProduct.discountSum > 0
              "
            >
              Знижка: {{ receiptProduct.discountSum }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sale_table-footer">
      <span
        >Позицiй: <i>{{ (receiptProducts | async)?.length ?? 0 }}</i> шт.</span
      >
      <span
        >Сума: <i> {{ totalSum | async }}</i> грн</span
      >
    </div>
  </div>

  <!-- Buttons section -->
  <div class="sale_buttons">
    <div>
      <button class="_btn">
        <span class="add" (click)="addProductState = 'selectProduct'"></span>
      </button>
      <button class="_btn" (click)="clickDoPayCash()">
        <span class="nal"></span>
      </button>
      <button class="_btn" (click)="doPayment(1)">
        <span class="credicart"></span>
      </button>
    </div>
    <div>
      <button class="anulation_btn" (click)="doCancelReceipt()">
        <span></span>
      </button>
    </div>
  </div>
</div>

<div class="add-prodduct" *ngIf="addProductState !== 'none'">
  <ng-template #selectProduct let-value let-clearFunction="clearFunction">
    <app-product-list
      [searchValue]="value"
      (clear)="clearFunction()"
      (add)="addProductToReceipt($event)"
    ></app-product-list>
  </ng-template>

  <ng-template #selectAmount let-value let-clearFunction="clearFunction">
    <button (click)="clearFunction()">cancel</button>
    <button (click)="amountMinus()">minus</button>
    <button (click)="amountPlus()">plus</button>
    <button (click)="applyAmount()">apply</button>
    Количество: {{ value }} Артикул {{ lastAddedProduct!.bar }} Название
    {{ lastAddedProduct!.name }} Цена {{ lastAddedProduct!.price }} Сумма
    {{ lastAddedProduct!.sum }}
  </ng-template>

  <div class="keyboarddialog">
    <app-keyboard-number
      [itemTemplate]="
        addProductState === 'selectProduct' ? selectProduct : selectAmount
      "
      [value]="currentInputValue"
      (valueChange)="onChangeKeyboard($event)"
    ></app-keyboard-number>
  </div>
</div>
<p-dialog
  [header]="payInProgress === false ? 'Чек проведено!' : 'Оплата'"
  [modal]="true"
  [(visible)]="visiblePaymantProcess"
  [style]="{ width: '400px' }"
  [closeOnEscape]="false"
  [closable]="false"
  [draggable]="false"
>
  <ng-container *ngIf="payInStart && !payInProgress">
    <div class="p-grid">
      <div class="p-col">
        <p-inputNumber
          class="w-100"
          [style]="{ width: '100%' }"
          [ngModel]="inputCash"
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="horizontal"
          spinnerMode="horizontal"
          [step]="1"
          decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          (onInput)="onInputCash($event.value)"
          #sum
        >
        </p-inputNumber>
      </div>
    </div>
    <div class="p-grid" *ngIf="restCash">
      <div class="p-col">
        <span>Решта: {{ restCash | round10 }}</span>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col p-text-center confirm_buttons">
        <p-button
          icon="pi pi-check"
          label="Так"
          class="p-button-lg"
          (onClick)="doPayment(0)"
        ></p-button>
        <p-button
          icon="pi pi-times"
          label="Нi"
          class="p-button-lg p-button-warning"
          (onClick)="cancelPay()"
        ></p-button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="payInProgress">
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '6px' }"
    ></p-progressBar>
  </ng-container>
  <ng-container *ngIf="!payInStart && !payInProgress">
    <div class="p-grid">
      <div class="p-col p-text-center">Бажаєте роздрукувати чек?</div>
    </div>
    <div class="p-grid">
      <div class="p-col p-text-center confirm_buttons">
        <p-button
          icon="pi pi-check"
          label="Так"
          class="p-button-lg"
          (onClick)="finishPay(true, printData.innerHTML)"
        ></p-button>
        <p-button
          icon="pi pi-times"
          label="Нi"
          class="p-button-lg p-button-warning"
          (onClick)="finishPay(false)"
        ></p-button>
      </div>
    </div>

    <div
      class="p-grid"
      style="border-top: 1px solid #ddd; margin-top: 25px; padding: 10px"
    >
      <div class="p-col p-text-center">Вiдправити копiю чека на email?</div>
    </div>
    <div class="p-grid sendEmailBlock" #sendEmail>
      <div class="p-col p-text-center">
        <div class="p-col-12 p-px-0 p-py-2 toMail">
          <input type="text" pInputText placeholder="Вiдправити на email" />
          <button><i class="pi pi-send"></i></button>
        </div>
      </div>
    </div>
    <div class="p-grid" id="pData">
      <div class="p-col">
        <div id="printData" #printData>
          <style>
            @page {
              padding: 0px;
              margin: 0px;
            }
            @media print {
              html,
              body {
                padding: 0px;
                margin: 0px;
              }
            }
          </style>
          <p *ngFor="let str of dataForPrint | async">
            {{ str | pt }}
          </p>
          <qrcode
            *ngIf="link | async"
            [elementType]="'url'"
            [qrdata]="(link | async)!"
            [width]="32"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
      </div>
    </div>
  </ng-container>
</p-dialog>
