<!-- <div class="topSearch">
  <app-product-list
    id="searchTop"
    (add)="addProductToReceipt($event)"
  ></app-product-list>
</div> -->
<div class="datasale">
  <!-- Table section   -->
  <div class="sale_table">
    <div class="receiptProducts">
      <div
        class="sale_table-header"
        *ngIf="(receiptProducts | async)!.length > 0"
      >
        <div class="receiptProducts_addtbn"></div>
        <div class="_name">Назва</div>
        <div class="_amount">Кiлькiсть</div>
        <div class="_discountSum">Цiна за од.</div>
        <div class="_sum">Сума</div>
      </div>
      <div class="prod_list">
        <div
          class="receiptProducts_line"
          *ngFor="let receiptProduct of receiptProducts | async"
        >
          <div
            class="receiptProducts_addtbn"
            (click)="openWindowChangeAmount(receiptProduct)"
          ></div>
          <div class="receiptProducts_name">
            {{ receiptProduct.name }}
          </div>

          <div class="receiptProducts_amount">
            {{ receiptProduct.amount }}
            <!-- <p-button
            icon="pi pi-minus"
            (click)="this.amountMinus(receiptProduct)"
          ></p-button>
          <input
            type="text"
            inputmode="decimal"
            pInputText
            min="0"
            class="amountEdit w-100"
            (blur)="onBlurAmount()"
            (focus)="onFocusAmount(amountInp)"
            (input)="onInputAmount(amountInp, receiptProduct, $event)"
            [ngModel]="receiptProduct.amount"
            #amountInp
          />

          <p-button
            icon="pi pi-plus"
            (click)="this.amountPlus(receiptProduct)"
          ></p-button> -->
          </div>

          <div class="receiptProducts_discountSum">
            {{ receiptProduct.price }}
          </div>

          <div class="receiptProducts_sum">
            <div class="s">
              {{ receiptProduct.sum }}
              <ng-container *ngIf="receiptProduct.sum"></ng-container>
            </div>
            <div
              class="d"
              *ngIf="
                receiptProduct.discountSum != null &&
                receiptProduct.discountSum > 0
              "
            >
              Знижка: {{ receiptProduct.discountSum }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sale_table-footer">
      <span
        >Позицiй: <i>{{ (receiptProducts | async)?.length ?? 0 }}</i> шт.</span
      >
      <span
        >Сума: <i> {{ totalSum | async }}</i> грн</span
      >
    </div>
  </div>

  <!-- Buttons section -->
  <div class="sale_buttons">
    <div>
      <button class="_btn">
        <span class="add" (click)="addProductState = 'selectProduct'"></span>
      </button>
      <button class="_btn" (click)="clickDoPayCash()">
        <span class="nal"></span>
      </button>
      <button class="_btn" (click)="clickDoPayCard()">
        <span class="credicart"></span>
      </button>
    </div>
    <div>
      <button class="anulation_btn" (click)="doCancelReceipt()">
        <span></span>
      </button>
    </div>
  </div>
</div>

<div class="add-prodduct" *ngIf="addProductState !== 'none'">
  <ng-template #selectProduct let-value let-clearFunction="clearFunction">
    <app-product-list
      [searchValue]="value"
      (clear)="clearFunction()"
      (add)="addProductToReceipt($event)"
      (search)="onSearchProduct($event)"
    ></app-product-list>
  </ng-template>
  <ng-template
    #selectProductLiteral
    let-value
    let-visible="visible"
    let-clearFunction="clearFunction"
    let-showFuntion="showKeyboardFuntion"
    let-hideFunction="hideKeyboardFuntion"
  >
    <app-product-list
      [searchValue]="value"
      (clear)="clearFunction()"
      (add)="addProductToReceipt($event)"
      (search)="onSearchProduct($event)"
      (inputClick)="showFuntion()"
    ></app-product-list>
  </ng-template>

  <ng-template #selectAmount let-value let-clearFunction="clearFunction">
    <div class="amount_line">
      <button class="cancel" (click)="clearFunction()"></button>
      <button class="minus" (click)="amountMinus()"></button>

      <div class="val">{{ value }}</div>

      <button class="plus" (click)="amountPlus()"></button>
      <button class="apply" (click)="applyAmount()"></button>
    </div>

    <div class="datasearch">
      <div class="amount_card">
        <div class="art">Артикул {{ selectedProduct!.bar }}</div>
        <div class="name">{{ selectedProduct!.name }}</div>
        <div class="price">
          <span>Цiна за одиницю:</span>
          <span>{{ selectedProduct!.price }}</span>
        </div>
        <div class="sum">
          <span>Сума</span><span> {{ selectedProduct!.sum }}</span>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="keyboarddialog">
    <app-keyboard-number
      *ngIf="
        (searchType === '0' && addProductState === 'selectProduct') ||
          addProductState === 'selectAmount';
        else elseBlock
      "
      title="Додати товар"
      [itemTemplate]="
        addProductState === 'selectProduct' ? selectProduct : selectAmount
      "
      [value]="
        addProductState === 'selectProduct'
          ? currentArticle
          : selectedProduct!.amount.toString()
      "
      [defaultValue]="0"
      (close)="addProductState = 'none'"
      (change)="onChangeKeyboard($event)"
    ></app-keyboard-number>
    <ng-template #elseBlock>
      <app-keyboard-literal
        *ngIf="searchType === '1'"
        [itemTemplate]="selectProductLiteral"
        [value]="currentArticle"
        [defaultValue]="''"
        [keyboardVisible]="true"
        (close)="addProductState = 'none'"
        (change)="onChangeKeyboard($event)"
      >
      </app-keyboard-literal>
    </ng-template>
  </div>
</div>

<ng-container *ngIf="visiblePaymantProcess && (payInStart || payInProgress)">
  <div class="keyboarddialog">
    <app-keyboard-number
    title="Оплата готiвкою"
      [itemTemplate]="dialogInputCash"
      [value]="inputCash"
      [defaultValue]="0"
      [max]="99999999"
      (close)="cancelPay()"
      (change)="onChangeKeyboardMoney($event)"
    >
      <ng-template #dialogInputCash let-value let-clearFunction="clearFunction">
        <div class="amount_line">
          <button class="cancel" (click)="clearFunction()"></button>
          <button class="minus" (click)="moneyMinus()"></button>

          <div class="val">{{ value }}</div>

          <button class="plus" (click)="moneyPlus()"></button>
          <button class="apply" (click)="doPayment(0)"></button>
        </div>

        <div class="datasearch" *ngIf="restCash">
          <div class="amount_card">
            <div class="sum">
              <span><b>Решта</b></span><span> {{ restCash | round10 }}</span>
            </div>
          </div>
        </div>
      </ng-template>
    </app-keyboard-number>
  </div>
</ng-container>

<p-dialog
  [header]="payInProgress === false ? 'Введiть кошти' : 'Оплата'"
  [modal]="true"
  [(visible)]="visiblePaymantProcess  && !payInStart"
  [style]="{ width: '400px' }"
  [closeOnEscape]="false"
  [closable]="false"
  [draggable]="false"
>
  <ng-container *ngIf="payInStart && !payInProgress">
    <!-- <div class="keyboarddialog">
      <app-keyboard-number
        [itemTemplate]=""
        [value]="inputCash"
        [defaultValue]="0"
        (close)="addProductState = 'none'"
        (change)="onChangeKeyboard($event)"
      >
      <ng-template>

      </ng-template>
    </app-keyboard-number>
    </div> -->

    <!-- <div class="p-grid">
      <div class="p-col">
        <p-inputNumber
          class="w-100"
          [style]="{ width: '100%' }"
          [ngModel]="inputCash"
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="horizontal"
          spinnerMode="horizontal"
          [step]="1"
          decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          (onInput)="onInputCash($event.value)"
          #sum
        >
        </p-inputNumber>
      </div>
    </div>
    <div class="p-grid" *ngIf="restCash">
      <div class="p-col">
        <span>Решта: {{ restCash | round10 }}</span>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col p-text-center confirm_buttons">
        <p-button
          icon="pi pi-check"
          label="Так"
          class="p-button-lg"
          (onClick)="doPayment(0)"
        ></p-button>
        <p-button
          icon="pi pi-times"
          label="Нi"
          class="p-button-lg p-button-warning"
          (onClick)="cancelPay()"
        ></p-button>
      </div>
    </div> -->
  </ng-container>
  <ng-container *ngIf="payInProgress">
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '6px' }"
    ></p-progressBar>
  </ng-container>
  <ng-container *ngIf="!payInStart && !payInProgress">
    <div class="p-grid">
      <div class="p-col p-text-center">Бажаєте роздрукувати чек?</div>
    </div>
    <div class="p-grid">
      <div class="p-col p-text-center confirm_buttons">
        <p-button
          icon="pi pi-check"
          label="Так"
          class="p-button-lg"
          (onClick)="finishPay(true, printData.innerHTML)"
        ></p-button>
        <p-button
          icon="pi pi-times"
          label="Нi"
          class="p-button-lg p-button-warning"
          (onClick)="finishPay(false)"
        ></p-button>
      </div>
    </div>

    <div
      class="p-grid"
      style="border-top: 1px solid #ddd; margin-top: 25px; padding: 10px"
    >
      <div class="p-col p-text-center">Вiдправити копiю чека на email?</div>
    </div>
    <div class="p-grid sendEmailBlock" #sendEmail>
      <div class="p-col p-text-center">
        <div class="p-col-12 p-px-0 p-py-2 toMail">
          <input type="text" pInputText placeholder="Вiдправити на email" />
          <button><i class="pi pi-send"></i></button>
        </div>
      </div>
    </div>
    <div class="p-grid" id="pData">
      <div class="p-col">
        <div id="printData" #printData>
          <style>
            @page {
              padding: 0px;
              margin: 0px;
            }
            @media print {
              html,
              body {
                padding: 0px;
                margin: 0px;
              }
            }
          </style>
          <p *ngFor="let str of dataForPrint | async">
            {{ str | pt }}
          </p>
          <qrcode
            *ngIf="link | async"
            [elementType]="'url'"
            [qrdata]="(link | async)!"
            [width]="32"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
      </div>
    </div>
  </ng-container>
</p-dialog>
