.container {
  height: inherit;
  .left-menu {
    background-color: #404e67;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 165px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
    .logOutBtn {
      margin-top: auto;
    }
  }
}
