<p-toast></p-toast>
<div id="printContainer" #printContainer></div>
<ng-container *ngIf="!(router | isLoginPage | async); else loginBlock">
  <div class="p-d-flex">
    <div class="header">
      <div class="topmenu">
        <button
          #btn
          type="button"
          pButton
          icon="pi pi-bars"
          label="Меню"
          (click)="menu.toggle($event)"
        ></button>
        <p-slideMenu
          #menu
          [model]="items"
          [popup]="true"
          [viewportHeight]="400"
          backLabel="Назад"
        ></p-slideMenu>
      </div>

      <div class="topcenter">
        <div class="toptitle">{{ title }}</div>

        <div class="topinfo">Грошей у сейфi: 78932,00грн</div>

        <div class="topicons">
          <ng-container *ngIf="isOnline | async; else offline"
            ><span id="online_icon"></span
          ></ng-container>
          <ng-template #offline><span id="offline_icon"></span></ng-template>

          <ng-container *ngIf="shiftStatus | async; else closecashbox"
            ><span id="opencashbox_icon"></span
          ></ng-container>
          <ng-template #closecashbox
            ><span id="closecashbox_icon"></span
          ></ng-template>
        </div>
      </div>
      <div class="topusermenu">
        <button
          #btn
          type="button"
          pButton
          icon="pi pi-user"
          [label]="(currentUser | async)?.name!"
          [title]="(currentUser | async)?.name!"
          (click)="menu2.toggle($event)"
        ></button>
        <p-slideMenu #menu2 [model]="items2" [popup]="true"></p-slideMenu>
      </div>
    </div>
  </div>
  <div class="p-d-flex">
    <div class="maincontent">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #loginBlock>
  <router-outlet></router-outlet>
</ng-template>

<p-overlayPanel #op>
  <ng-template pTemplate>
    <app-service [panel]="op"></app-service>
  </ng-template>
</p-overlayPanel>

<p-dialog
  header="Введiть суму"
  [(visible)]="visibleConfirmDialog"
  [style]="{ width: '300px' }"
>
  <div class="p-grid">
    <div class="p-col confirm_input">
      <input min="0" type="number" pInputText [(ngModel)]="confirmText" />
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col p-text-center confirm_buttons">
      <p-button
        icon="pi pi-check"
        label="Так"
        class="p-button-lg"
        (onClick)="confirm(true)"
      ></p-button>
      <p-button
        icon="pi pi-times"
        label="Нi"
        class="p-button-lg p-button-warning"
        (onClick)="confirm(false)"
      ></p-button>
    </div>
  </div>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle">
</p-confirmDialog>
